.calculator{
background-color: #f4f4f4;
    padding: 20px 20px 10px;
	}
	
.calculator button,.calculator input,.calculator select,.calculator textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.428571rem;
}

.calculator  input[type="submit"],.calculator  input[type="button"] {
    background-color: #e6e6e6;
    background-image: -moz-linear-gradient(center top , #f4f4f4, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    color: #7c7c7c;
    font-size: 0.785714rem;
    font-weight: normal;
    line-height: 1.42857;
    padding: 0.428571rem 0.714286rem;
	
}

.calculator input#InvoiceValue {
 font-size: 14px;
    padding: 13px 25px 13px 0;
    width: 100px;
	margin-right: 10px;
	text-align:center;
}


.calculator .float-right {
    float: right;
}

.calculator .clearSplit {
    clear: both;
    height: 10px;
    overflow: hidden;
}

.calculator h2,.calculator-result h2{
color: #004d99;
font-size: 27px;
}

.calculator p {
    margin-bottom: 10px;
}

.calculator .float-left {
    float: left;
	font-size: 20px;
    margin-left: 22px;
}

.calculator .body-text-bold {
    font-weight: bold;
}
.calculator h2 {
    margin-top: 0;
}


.calculator .row {
    margin-bottom: 10px;
}
.calculator-input {
    margin-bottom: 1em;
    margin-top: 1em;
}
.calculator .row {
    margin-left: -15px;
    margin-right: -15px;
}


/*********************Calculator******************/

.calculator-input-element {
    padding-left: 40px;
	width: 58%;
	float:left;
	
}

.calculator-result .calculator-input-element{
width: 58%;
float:left;
padding:0;
}

.calculator-result .calculator-input-value{
  color: #000;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
	width: 28.667%;
	float:right;
	padding-right: 26px;
}

.calculator-result .calculator-input-value-result{
  color: #000;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
	width: 28.667%;
	float:right;
	padding-right: 26px;
	padding-top:20px;
}

.calculator-result hr{
 float:left;
 border-top:2px solid #ccc;
  width:85%;
  margin:0;
  }


.calculator .percent{padding-left:4px;}

.calculator-input-value {
    color: #000;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
	width: 28.667%;
	float:right;
	padding-right: 26px;
}

.form-submit{
   float:right;
   padding-bottom:20px;
   padding-right: 26px;
   }
   
 .calculation-result-value {
    color: #39aa19;

    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
}

